* {
    margin: 0;
    padding: 0;
}
.com{
    background-color: rgb(17, 17, 75);
    font-family: sans-serif;
    display: flex;
    gap: 20px;
    color:white;
    height: 35x;
    padding-top: 9px;
}
.ico{
    
    padding-left: 300px;
    font-size: 25px;
}
.sm{
    background-image:url("./image/ai\ icon.jpg");
    
    height: 500px;
    background-repeat: no-repeat;
    border: 2px solid black;
    background-size: cover;
}
.navbar {
    position: relative;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color:rgb(15, 58, 15);
}
.menu {
    
    position: absolute;
    right: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
ul {
    position: relative;
    display: flex;
    gap: 20px;
    color: white;
    font-size: large;
}
li {
    width: 100px;
    position: relative;
    font-size: 20px;
    list-style: none;
}
details{
    position: absolute;
}
.icon {
    width: 100px;
    margin-left: 50px;
} 
.text h1{
    color:orange;
    font-size:50px;
}
.text h3{
color:white
} 
.ab{
color:rgb(78, 187, 230);
font-size:20px;
}
.ab h1{
    color: rgb(34, 34, 68);
    font-family:  sans-serif;
    
}
.ab h2{
    font-family:  sans-serif;
} 
#lp{
    display: flex;
    margin-left: 110px;
    margin-top: 50px; 
}
#lp p{
    
    padding-top: 40px;
    font-family: sans-serif;
    color: rgb(124, 118, 118)
}
.box{
    padding:10px;
}
.box .line{
    
    position: relative;
    height: 6px;
    width: 200px;
    background-color: blue;
    display: flex;
    align-items: center;    
}
.dot{
    
    height: 6px;
    width: 6px;
    background-color: #fff;
    animation: run 5s infinite ease-in-out;
}
@keyframes run {
    0%{
        transform: translateX(0px); 
    }
    50%{
        transform: translateX(195px);
    }
    100%{
        transform: translateX(0px);
    }    
}
.write{
    color: blue;
    display: flex;
    gap: 100px;
}
#qt{
    display: flex;
    gap: 83px;
    color: blue;
    padding-top: 20px;
}
#call{
    padding-top: 30px;
}
.ser{
    text-align: center;
    padding-top: 90px;
}
.ser h1{
font-weight: bold;
color: rgb(3, 3, 56);
font-family: sans-serif;
font-size: 40px;
}
.ser h2{
    color: rgb(8, 165, 226);
}
.boy{
    
    padding:10px;
    display: flex;
    justify-content: center;
}
.boy .inline{
    
    position: relative;
    height: 6px;
    width: 200px;
    background-color: blue;
    display: flex;
    align-items: center;   
}
.do{
    
    height: 6px;
    width: 6px;
    background-color: #fff;
    animation: run 5s infinite ease-in-out;
}
@keyframes run {
    0%{
        transform: translateX(0px); 
    }
    50%{
        transform: translateX(195px);
    }
    100%{
        transform: translateX(0px);
    }    
}

.ssdiv{
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:90px;
    background-color:white;
    margin-top: 0px;  
    padding: 49px;
}
.ft{
    text-align: left;
    color: rgb(94, 77, 77);
}
.sdiv{
    background-color: rgb(202, 202, 224);
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.19);
    margin-top: 30px;
    padding:20px;
    border-radius: 3%;
    height: 250px;

}
.h2{
    font-size: 28px;
    color: blue;
    font-family: sans-serif;
    padding-bottom: 2px;
    padding-top: 2px;
}
.why{
    text-align: center;
    font-family: sans-serif;
}
.why h2{
    color:rgb(4, 177, 245);
}
h1{
    color: rgb(9, 9, 58);
    font-size: 50px;
}
.time{
    padding-left: 60px;
    padding-top: 40px;
    
    display: flex;
}
.vip{
    padding-top: 50px;
}
.future{
padding-left: 100px;

}
.traget{
    padding-left: 80px;
}
.test{
    text-align: center;
    padding-top: 50px;
    font-family: sans-serif;
}
.test h2{
    color:rgb(22, 188, 253)
}
.boy1{
    
    padding:10px;
    display: flex;
    justify-content: center;
}
.boy1 .inline1{
    
    position: relative;
    height: 6px;
    width: 200px;
    background-color: blue;
    display: flex;
    align-items: center;   
}
.do1{
    
    height: 6px;
    width: 6px;
    background-color: #fff;
    animation: run 5s infinite ease-in-out;
}
@keyframes run {
    0%{
        transform: translateX(0px); 
    }
    50%{
        transform: translateX(195px);
    }
    100%{
        transform: translateX(0px);
    }    
}
.cards{
    display: flex;
    gap: 30px;
    margin-left: 15px;   
}
.cards h2{
    color:orange
}
.name1{
    padding-left: 20px;
    border: 2px solid black;
    border-radius: 10px;
    width: 25%;
    height: 370px;
    background-color: rgb(202, 202, 224); 
}
.name1 p{
    font-family:  sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
.name2{
    padding-left: 20px;
    background-color: rgb(202, 202, 224);
    border: 2px solid black;
    border-radius: 10px;
    width: 25%;
    height: 370px;
}
.name2 p{
    font-family:  sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
.name3{
    padding-left: 20px;
    background-color: rgb(202, 202, 224);
    border: 2px solid black;
    border-radius: 10px;
    width: 25%;
    height: 370px;
} 
.name3 p{
    font-family:  sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 10px;
} 
.name4{
    padding-left: 20px;
    background-color: rgb(202, 202, 224);
    border: 2px solid black;
    border-radius: 10px;
    width: 25%;
    height: 370px;
}
.name4 p{
    font-family:  sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
.png1{
padding-left: 60px;
margin-top: 40px;
}
.bor{
    gap: 20px;
    margin-top: 40px;
    height: 370px;
    width: 100%;
    display: flex;
    background-color: rgb(25, 25, 65);
}
.bor1{
    margin-left: 120px;
    background-color: rgb(57, 190, 243);
    height: 443px; 
    width: 25%;
}
.bor1 h1{
    text-align: center;
    padding-top: 80px;
    color: white;
}
.bor1 p{
    font-size: 18px;
    font-family:  sans-serif;
    text-align: center;
    padding-top: 20px;
}
.bor2{
    
    height: 368px; 
    width: 20%;
}
.bor2 h2{
    
    padding-top: 30px;
    font-size: 35px;
    color: white;
}
.bor2 p{
    color: white;
    padding-top:20px;
    font-family: sans-serif;
    font-size: 18px;
}
.bor3{
    height: 368px; 
    width: 20%;
    margin-left: 40px;
}
.bor3 h2{
    padding-top: 30px;
    font-size: 35px;
    color: white;
}
.bor p{
    padding-top: 20px;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}
.bor4{
    height: 368px; 
    width: 20%;
}
.bor h2{
    padding-top: 30px;
    font-size: 35px;
    color: white;
}
.boy2{
    
    padding:10px;
    display: flex;
}
.boy2 .inline2{
    position: relative;
    height: 6px;
    width: 150px;
    background-color: blue;
    display: flex;
    align-items: center;   
}
.do2{
    
    height: 6px;
    width: 6px;
    background-color: #fff;
    animation: run 5s infinite ease-in-out;
}
@keyframes run {
    0%{
        transform: translateX(0px); 
    }
    50%{
        transform: translateX(144px);
    }
    100%{
        transform: translateX(0px);
    }    
}
.foot{
    height: 73px;
    background-color: rgb(8, 8, 37);
}
.foot p{
    text-align:center;
    padding-top: 25px;
    color: white;
    font-family: sans-serif;
}
.logo {
    color: white;
    font-size: 30px;
    padding-left: 5px;
    padding-top: 20px;
}